.StyledWrapper{
  padding-bottom: 1em;
}

.StyledWrapper .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2em;
  height: 1.8em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.StyledWrapper .sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StyledWrapper .sign svg {
  width: 17px;
}

.StyledWrapper .sign svg path {
  fill: white;
}

.StyledWrapper .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 400;
  transition-duration: 0.3s;
}

.StyledWrapper .Btn:hover {
  width: 6.5em;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.StyledWrapper .Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.StyledWrapper .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

.StyledWrapper .Btn:active {
  transform: translate(-20px, -5px);
}
