body {
    margin: 0;
    background-color: #79b0c5;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

/* Cámara */
.display-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5%;
    position: relative;
}

video {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.video-options {
    position: absolute;
    left: 20px;
    top: 30px;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls > button {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 0 6px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gValues {
    color: #efefef;
    background: #00B541;
}

.container {
    background-color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    border-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 800px;
    height: 400px;
}

#heartRateChart {
    background-color: #313131;
    display: flex;
    align-content: center;
    align-items: center;
    color: #fff;
    border-color: #fff;
    width: 780px;
    height: 380px;
}

.icon_img{
    width: 50%;
    height: 50%;
    align-content: center;
    align-items: center;
}

/* Banner */
.Banner {
    background-color: #efefef;
    box-shadow: #313131;
}

.Menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
