/* Íconos dentro de las tarjetas */
.icon {
    width: 2.5rem;
    height: 2.5rem;
    color: #0077b6; /* Azul claro */
    transition: transform 0.3s, color 0.3s;
}

.statBox:hover .icon {
    transform: scale(1.2);
    color: #e63946; /* Rojo claro al hacer hover */
}

/* Texto dentro de las tarjetas */
.statText {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333; /* Gris oscuro */
}
