/* Contenedor general para las tarjetas */
.user-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

/* Cada tarjeta */
.card-container {
  width: 48%; /* Ocupa el 48% del espacio disponible */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Estilos generales de la tarjeta */
.card-content {
  width: 100%;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto hover */
.card-container:hover .card-content {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Íconos dentro de las tarjetas */
.icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #0077b6; /* Azul claro */
  transition: transform 0.3s, color 0.3s;
}

.card-container:hover .icon {
  transform: scale(1.2);
  color: #e63946; /* Rojo claro al hacer hover */
}

/* Texto dentro de las tarjetas */
.statText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333; /* Gris oscuro */
}

/* Mostrar texto cuando se hace clic */
.statText.show {
  color: #0077b6;
}

/* Ajuste responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
  .card-container {
    width: 100%; /* En pantallas pequeñas, ocupa el 100% del espacio */
  }
}
