.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 398px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: -477px;
  right: -392px;
}
button {
  margin-top: 10px;
}