.signal-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signal-icon{
    width:24px;
    height: 24px;
}

.signal-toggle-button {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    position: relative;
    padding: 18px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    background-color: #0084ff;
}

/* Cuando el botón de señales está activado, reducimos el tamaño */
.VideoCall-content.signal-active {
    flex: 1; /* Ajusta el tamaño para dar espacio al div de señales */
}

.RemoteUser.VideoCall-content.signal-active {
    position: absolute;
    top: 44%;
    right: 53%;
    width: 20%;
    height: 21%;
    z-index: 10;
    border-radius: 6px;
}
