.signal-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signal-icon{
    width:24px;
    height: 24px;
}

.signal-toggle-button {
    background-color: #00ff08;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    position: relative;
    padding: 18px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    background: none;
}

/* Cuando el botón de señales está activado, reducimos el tamaño */
.VideoCall-content.signal-active {
    flex: 0.7; /* Ajusta el tamaño para dar espacio al div de señales */
}

.RemoteUser.VideoCall-content.signal-active {
    position: absolute;
    top: -18%;
    right: 18%;
    width: 35%;
    height: 40%;
    margin: 10px;
    z-index: 10;
    background-color: #fff;
    border-radius: 6px;
}
