img {
    mask-image: linear-gradient(
        rgb(0, 0, 0) 80%,
        transparent
    );
    z-index: 2;
}

.header-img{
    width: 30vw;
    height: auto;
    display: flex;
}

@media (max-width: 1052px) {
    .header-img{
        width: 60%;
    }
}