.navbar{
    float: left;
    height: 12vh;
    width: 60vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
}

.navbar a {
    font-size: 25px;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
}

.Menu {
    height: 12vh;
    display: flex;
}

.icon-menu {
    color: white;
    width: 30px;
    height: 25px;
}

.Logo-menu {
    display: flex;
    width: 10vw;
    align-items: center;
    justify-content: center;
}